* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Red';
    src: url('../Tungsten-Bold.ttf') format('Opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../img/R.jpg);
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: 1000px;

}

#principal {
    width: 60%;
    margin: 0 auto;
    border: 2px #954d25 solid;

}

h2 {
    color: darkred;
    font-family: 'Red';
    font-size: xx-large;
    word-spacing: 10px;
    letter-spacing: 5px;
    text-align: center;
}

.data {
    color: rgb(73, 73, 73);
    font-size: 8pt;
    font-family: 'Lucida Sans';
    text-align: center;
}


#topo_geral {
    background-image: url(../img/red.jpg);
    background-size: 100%;
    height: 249px;
    background-repeat: no-repeat;
}

article>p {
    text-align: justify;
}

article {
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: larger;
}

li {
    display: inline;
}

li>a {
    color: inherit;
    text-decoration: none;

}

nav {
    background-color: #954d25;
    color: rgb(255, 255, 255);
    padding: 5px;
}

figcaption {
    font-size: small;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans';
    text-align: center;
}

p {
    color: black;
    font-family: Calibri;
    font-size: medium;
}

#cachecol {
    margin-left: 260px;
}

#primeira {
    margin-left: 45px;
    margin-right: 10px;

}

figure {
    display: inline;
    margin-left: 1px;
    
}
h3 {
    font-family:'Red';
    word-spacing: 8px;
    letter-spacing: 3px;
    color:#954d25;
}