* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lover';
    src: url('../Lover.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
  
}

body {
    background-image: url(../img/clouds.jpg);
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: 100%;
}

#principal {
    width: 60%;
    margin: 0 auto;
    border: 2px #aec0fc solid;
}

h2 {
    color: #cf1196;
    font-family: 'Lover';
    font-size: 25px;
    word-spacing: 8px;
    letter-spacing: 3px;
    text-align: center;
   
}

.data {
    color: rgb(73, 73, 73);
    font-size: 8pt;
    font-family: 'Lucida Sans';
    text-align: center;

}

#topo_geral {
    background-image: url(../img/lover.png);
    background-size: 100%;
    height: 249px;
    background-repeat: no-repeat;
}

article>p {
    text-align: justify;
}

article {
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: larger;
}

li {
    display: inline;
}

li>a {
    color: inherit;
    text-decoration: none;

}

nav {
    background-color: #aec0fc;
    color: rgb(255, 255, 255);
    padding: 5px;
}

figcaption {
    font-size: small;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans';
    text-align: center;
}

p {
    color: black;
    font-family: Calibri;
    font-size: medium;
}

#borboletas {
    margin-left: 250px;
    filter:;
}

#primeira {
    margin-left: 45px;
    margin-right: 10px;

}

figure {
    display: inline;
    margin-left: 1px;
   
}
h3 {
    font-family:'Lover';
    word-spacing: 8px;
    letter-spacing: 3px;
    color:#cf1196;
}